doctype html
html
    head
        meta(charset='utf-8')
        title 게임리뷰
    body
        div(id="title") GAME365
        //-
            클릭시 home.pug로 이동

        div(id="account") 회원가입
        //-
            클릭시 ProivatePage.register.pug로 이동
            로그인시 (ID)님 환영합니다 로 변경

        div(id="project")
            div(class="project-title") 게임제목
            div(class="project-myreview") 자기가쓴 평가, 평가입력버튼
            div(class="project-positive_review") 긍정적평가더보기
            div(class="project-negative_review") 부정적평가더보기
            div(class="project-all_review") 모든리뷰더보기