doctype html
//- /project/new_project
html
    head
        meta(charset='utf-8')
        title 프로젝트 생성
    body
        div(id="title") GAME365
        //-
            클릭시 home.pug로 이동

        form(action='/addproject', method='post')
            p
                input(type='text' name='gamename' placeholder='게임명') 게임명
                fieldset
                    legend 키워드
                    label
                        input(type='checkbox' name='keyword' value='action') 액션
                    label
                        input(type='checkbox' name='keyword' value='adventure') 어드벤쳐
                    label
                        input(type='checkbox' name='keyword' value='puzzle') 퍼즐
                    label
                        input(type='checkbox' name='keyword' value='fps') 1인칭
                    label
                        input(type='checkbox' name='keyword' value='tps') 3인칭
                    label
                        input(type='checkbox' name='keyword' value='shooting') 슈팅
                label
                    input(type='radio' name='whether_maked' value='yes') 완성되있는 프로젝트
                    input(type='radio' name='whether_maked' value='no') 완성되지 않은 프로젝트
                input(type='number' name='funding' value='0' min='0' max='1000000000') 후원목표금액설정
                input(type='number' name='price' value='0' min='0', max='10000000') 게임가격설정
                input(type='text' name='introduce') 상세 소개글
            p
                input(type='submit' value='프로젝트 생성')
                //-
                    완료시PrivatePage.project.pug로 이동
            