doctype html
html
    head
        meta(charset='utf-8')
        title 마이페이지
    body
        div(id="title") GAME365
        //-
            클릭시 home.pug로 이동

        div(class="link-update_profile") 내정보수정
        //-
            클릭시 Private.updateprofile.pug로 이동

        div(class="link-library") 라이브러리
        div(class="link-myproject") 마이프로젝트
        div(class="link-withdrawal") 회원탈퇴