doctype html
html
    head
        link(rel="stylesheet" href="./stylesheet/layout.css" type="text/css")
        meta(charset='utf-8')
        title Game365
    body
        div(id="title")
            div(class="account") 회원가입  
            //-
                클릭시 ProivatePage.register.pug로 이동
                로그인시 (ID)님 환영합니다 로 변경

            div(class="title") GAME365
            //-
                클릭시 home.pug로 이동
        div(id="content")
            div(class="link-searchgame") 게임찾기
            //-
                클릭시 CommonPage.searchGame.pug로 이동

            div(class="link-myproject") 마이프로젝트
            //-
                클릭시 Private.projectlist.pug로 이동
                비로그인시 로그인하시기 바랍니다 창 띄우기

            div(class="link-library") 라이브러리
            //-
                클릭시 CommonPage.library.pug로 이동
                비로그인시 로그인하시기 바랍니다 창 띄우기
                
        div(id="lanking")
            div(class="link-lanking_top1") 랭킹1위게임
            //-
                클릭시 랭킹1위에 오른 해당 게임으로 이동

            div(class="link-lanking_other") 2위~10위선호도순
            //-
                클릭시 해당 게임으로 이동