doctype html
html
    head
        link(rel="stylesheet" href="./stylesheet/layout.css" type="text/css")
        meta(charset='utf-8')
        title 라이브러리
    body
        div(id="title")
            div(class="title") 
                a(href= '/main') GAME365
            //-
                클릭시 home.pug로 이동

        div(id="content")
            table
                tr 
                    td 
                        //- 시간 상 문제로 샘플데이터 사용
                        a(href= '/project/about/1') enter the gungeon
                tr
                    td
                        a(href= '/project/about/2') baba is you
                tr  
                    td 
                        a(href= '/project/about/3') minecraft
                tr
                    td 게임이름
            

            