doctype html
//- /project
html
    head
        meta(charset='utf-8')
        title 프로젝트
    body
        div(id="title")
            div(class="title") 
                a(href= '/main') GAME365
        //-
            클릭시 home.pug로 이동

        div(id="project")
            div(class="project-title") 게임제목
            div(class="project-photo") 메인사진
            div(class="project-information") 소개글, 공지
            div(class="project-workspace") 개발진작업실
            div(class="project-chat") 채팅
            div(class="project-deleteproject") 프로젝트탈퇴/프로젝트삭제
            //-
                프로듀서 : 프로젝트삭제
                그외참여자 : 프로젝트탈퇴

