doctype html
//- /main/project
html
    head
        link(rel="stylesheet" href="../stylesheet/layout.css" type="text/css")
        meta(charset='utf-8')
        title 프로젝트
    body
        div(id="title")
            div(class="account")
                a(href= '/users/register') 회원가입  
            //-
                클릭시 ProivatePage.register.pug로 이동
                로그인시 (ID)님 환영합니다 로 변경

            div(class="title")
                a(href= '/main') GAME365
            //-
                클릭시 home.pug로 이동

        div(id="content")
            div(class="project-title") 게임제목 : 
                each game in games
                    =game.pro_name
            div(class="project-photo") 메인사진
            
            div(id="project-leftspace")
                div(class="project-credit") 크레딧 : 
                    each member in members
                        =member.user_id
                div(class="project-keyword") 키워드 : 
                    each keyword in keywords
                            =keyword.keyword+","
                div(class="project-interaction_button")
                    a(href= '/project/dev') 프로젝트 창
                div(class="project-interaction_button")
                    a(href= '/main/shop') 상점페이지
                //-
                    프로젝트 참여자인가? -> 프로젝트창 버튼
                    일반 유저인가? -> 상점페이지 CommonPage.shoppage.pug로 이동
                p
                div(class="project-hire") 프로젝트개발참여
                    -if(games[0].progress == 0)
                        p 
                            a(href= '/project/dev') 참여하기
                    -else
                        p 이미 완성된 프로젝트입니다.
                //-
                    채용 활성화 상태일 경우에만 버튼 활성화
                p
            div(id="project-downspace")
                div(class="project-introduce") 게임소개 : 
                    =games[0].intro
                div(class="project-review")
                    a(href= '/project/review') 게임평가
                //-
                    클릭시 CommonPage.projectreview.pug

