doctype html
//- /users/register
html
    head
        link(rel="stylesheet" href="../stylesheet/layout.css" type="text/css")
        meta(charset='utf-8')
        title 회원 가입
    body
        div(id="title") GAME365
        //-
            클릭시 home.pug로 이동

        form(action='/register_proces', method='post')
            p
                input(type='password' name='password' placeholder='비밀번호')
                input(type='text' name='name' placeholder='닉네임')
                input(type='mail' name='mail' placeholder='이메일')
            p
                input(type='text' name='phone' placeholder='핸드폰번호')
                input(type='text' name='subject' placeholder='전문분야')
                input(type='text' name='gitid' placeholder='git아이디')
            p
                input(type='submit' value='회원가입')
                //-
                    완료시home.pug로 이동
            