doctype html
//- /main/search
html
    head
        link(rel="stylesheet" href="../stylesheet/layout.css" type="text/css")
        meta(charset='utf-8')
        title 게임찾기
    body
        div(id="title")
            div(class="account") 회원가입  
            //-
                클릭시 ProivatePage.register.pug로 이동
                로그인시 (ID)님 환영합니다 로 변경

            div(class="title")
                a(href= '/main') GAME365
            //-
                클릭시 home.pug로 이동
        form(action='/main/search', method='get')
            p
                input(type='search' name='game' placeholder='게임이름')
                input(type="submit" value='검색')
                //-
                    검색하면 아래 리스트들이 검색결과를 기반으로 재정렬됨
                    검색 후 다시 여기로 redirect

        div(id="library")
            table
                tr
                    -for(var i=0;i<5;i++)
                    th
                        td 
                            a(href= '/project/about') 게임이름
                        //-
                            클릭시 CommonPage.project.pug로 이동
                        td 완성여부