doctype html
html
    head
        link(rel="stylesheet" href="./stylesheet/layout.css" type="text/css")
        meta(charset='utf-8')
        title 상점페이지
    body
        div(id="title")
            div(class="account") 회원가입  
            //-
                클릭시 ProivatePage.register.pug로 이동
                로그인시 (ID)님 환영합니다 로 변경

            div(class="title") GAME365
            //-
                클릭시 home.pug로 이동

        div(id="content")
            div(class="project-title") 게임제목
            div(id="product_list")
                table
                    -for(var i=0;i<5;i++)
                        tr
                            th
                                td(class="product_name") 상품명
                                td(class="product_price") 상품가격
                                td(class="product_buy")
                                    form(action='/buy_product' method='post')
                                    input(type='submit' value='구매/후원')
            
                    