doctype html
html
    head
    body
        div
            form(action='/aa' method='post')
                p
                    input(type='text' name='aaa')
                p
                    input(type='submit')