doctype html
//- /users/update_profile
html
    head
        meta(charset='utf-8')
        title 회원정보 수정
    body
        div(id="title")
            div(class="title") 
                a(href= '/main') GAME365
            form(action='/users/update/process', method='post')
                p 필수 입력사항
                p
                    input(type='text' name='id' placeholder='ID')
                    input(type='password' name='password' placeholder='비밀번호')
                    input(type='text' name='name' placeholder='닉네임')
                    input(type='mail' name='mail' placeholder='이메일')
                p 선택 입력사항
                p
                    input(type='text' name='phone' placeholder='핸드폰번호')
                    input(type='text' name='subject' placeholder='전문분야')
                    input(type='text' name='gitid' placeholder='git아이디')
                    
                p
                    input(type='submit')

            