doctype html
//- /users/update_profile
html
    head
        link(rel="stylesheet" href="./stylesheet/layout.css" type="text/css")
        meta(charset='utf-8')
        title 회원정보 수정
    body
        div(id="title")
            div(class="account") 회원가입  
            //-
                클릭시 ProivatePage.register.pug로 이동
                로그인시 (ID)님 환영합니다 로 변경

            div(class="title")
                a(href= '/main') GAME365
            //-
                클릭시 home.pug로 이동
            form(action='/users/update/process', method='post')
                p 비밀번호
                    input(type='password' name='password' placeholder='비밀번호')
                p 닉네임
                    input(type='text' name='name' placeholder='닉네임')
                p 이메일
                    input(type='mail' name='mail' placeholder='이메일')
                p 핸드폰번호
                    input(type='text' name='phone' placeholder='핸드폰번호')
                p 전문분햐
                    input(type='text' name='subject' placeholder='전문분야')
                P git아이디
                    input(type='text' name='gitid' placeholder='git아이디')
                p
                input(type='submit' value='정보수정')

            